<div class="container">
    <div class="row">
        <!-- register button -->
        <div class="register-btn"><a>Register</a></div>
        <!-- login -->
        <div class="login-field">
            <form class="col s4">
                <div class="row">
                    <div class="input-field">
                        <input id="email" type="email" ng-model="email" class="validate">
                        <label for="email" data-error="wrong" data-success="right">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input id="password" type="password" ng-model="password" class="validate">
                        <label for="password" data-error="wrong" data-success="right">Password</label>
                    </div>
                    <!-- login button -->
                    <div class="col s12 m4 l2"><a class="btn dk-blue" ng-click="login()">Login</a></div>
                </div>
            </form>
        </div>
        
        <!-- register modal-->
        <div>
            <div class="modal-content">
                <form class="col s6">
                    <div class="row">
                        <div class="input-field">
                            <input id="email" type="email" ng-model="registerEmail" class="validate">
                            <label for="email" data-error="wrong" data-success="right">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input id="password" type="password" ng-model="registerPassword" class="validate">
                            <label for="password" data-error="wrong" data-success="right">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input id="confirmPassword" type="password" ng-model="registerConfirmPassword" class="validate">
                            <label for="password" data-error="wrong" data-success="right">Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input id="DogName" type="text" ng-model="registerDogName">
                            <label>Dogs Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input id="FirstName" type="text" ng-model="registerFirstName">
                            <label>Humans Name</label>
                        </div>
                    </div> 
                </form>
            </div>
            <div class="modal-footer">
                <a href="#!" ng-click="signup()" class="modal-action modal-close waves-effect waves-green btn-flat">Register!</a>
            </div>
        </div>
    </div>
</div>